/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.logo {
  height: 60px;
  width: 82px; 
}

.brand-logo{
  height: 100%;
}

.banner{
  height: calc(100vh - 64px);
  background-image: url('../images/maynooth2.jpeg');
  background-size: cover;
}

.main-page-header{
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  line-height: 1.25;
}